:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --gap-24: 24px;
  --gap-16: 16px;

  --color-primary: #646cff;
  --color-link: #646cff;
}

html, body{
  font-size: 16px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.container{
  max-width: 1680px;
  margin: 0 auto;
}


.slide-enter-active,
.slide-leave-active {
    transition: opacity 0.2s, left 0.2s;
}

.slide-enter-from,
.slide-leave-to {
    opacity: 0;
    left: 25%;
}
.slide-down-enter-active,
.slide-down-leave-active {
    transition: opacity 0.2s, transform 0.2s;
}

.slide-down-enter-from,
.slide-down-leave-to {
    opacity: 0;
    transform: translateY(-50px);
}
.slide-up-enter-active,
.slide-up-leave-active {
    transition: opacity 0.2s, transform 0.2s;
}

.slide-up-enter-from,
.slide-up-leave-to {
    opacity: 0;
    transform: translateY(100%);
}

/* fade */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

/* fade-tab */
.fade-tab-enter-active {
    transition: opacity .4s ease-in;
}
.fade-tab-leave-active{
    transition: none;
}
.fade-tab-enter-from,
.fade-tab-leave-to {
    opacity: 0;
}

/* media */
.media-list-enter-active,
.media-list-leave-active {
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.media-list-enter-from,
.media-list-leave-to {
    opacity: 0;
    transform: translateY(30px);
}


/* slide-left page */
.slide-left-enter-active,
.slide-left-leave-active {
    transition: all 0.5s ease;
}
.slide-left-enter-from {
  transform: translateX(100dvw);
}
.slide-left-leave-to{
  transform: translateX(-100dvw);
}

/* slide-right page */
.slide-right-enter-active,
.slide-right-leave-active {
    transition: all 0.5s ease;
}
.slide-right-enter-from {
  transform: translateX(-100dvw);
}
.slide-right-leave-to{
  transform: translateX(100dvw);
}